@model BeMyTeacher.ViewModels.AdCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })

            <div class="form-group">
                @Html.LabelFor(x => Model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.LocationId, new SelectList(Model.Locations, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Location" })
                    @Html.ValidationMessageFor(x => x.LocationId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.SubjectId, new SelectList(Model.Subjects, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Subject" })
                    @Html.ValidationMessageFor(x => x.SubjectId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.EducationLevelId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.EducationLevelId, new SelectList(Model.EducationLevels, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Education" })
                    @Html.ValidationMessageFor(x => x.EducationLevelId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => Model.CalificationId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.CalificationId, new SelectList(Model.Califications, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Calification" })
                    @Html.ValidationMessageFor(x => x.CalificationId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AvailabilityOnline" /> @Html.DisplayNameFor(model => model.AvailabilityOnline)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AvailabilityHome" /> @Html.DisplayNameFor(model => model.AvailabilityHome)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AvailabilityStudentHome" /> @Html.DisplayNameFor(model => model.AvailabilityStudentHome)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="PricePerSession" class="control-label"></label>
                <input asp-for="PricePerSession" class="form-control" />
                <span asp-validation-for="PricePerSession" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SessionLenghtinMinutes" class="control-label"></label>
                <input asp-for="SessionLenghtinMinutes" class="form-control" />
                <span asp-validation-for="SessionLenghtinMinutes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}