@model Meditatori.Models.Ad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Teacher:
        </dt>
        <dd class = "col-sm-10">
            Teacher name
        </dd>
        <dt class = "col-sm-2">
            Discipline:
        </dt>
        <dd class = "col-sm-10">
            Some discipline
        </dd>
        <dt class = "col-sm-2">
            Teacher's credentials:
        </dt>
        <dd class = "col-sm-10">
            Education level
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailabilityOnline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailabilityOnline)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailabilityHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailabilityHome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailabilityStudentHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailabilityStudentHome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerSession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerSession) RON
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionLenghtinMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionLenghtinMinutes) minutes
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calification.Id)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Id)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
